@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="d-flex justify-content-center align-items-center" style="height:50vh;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span style="margin-left:10px;">Cargando...</span>
        </div>
        @* <img src="https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700" /> *@
    }
    else
    {
        @Loading
    }
}
else if (!MyList.Any())
{
    @if (NoRecords is null)
    {
        <div class="alert alert-info" role="alert">
            No hay registros para mostrar...
        </div>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public List<Titem>? MyList { get; set; }
}